<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List </title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>

  <!-- first example
    <% if(dayOfWeek !== 'sunday' || dayOfWeek === 'saturday') { %>
    <h1 style="color:red;">Its a <%= dayOfWeek%> </h1>
    <% } else {  %>
        <h1 style="color:blue;"> Its a <%= dayOfWeek%> </h1>
     <% } %> -->

  <div class="neomorphism-card">
    <h1> <%= dayOfWeek %> </h1>
  </div>

  <div class="neomorphism-card">

    <ul>
      <!-- <li> -->
      <% for(var i = 0; i < toDo.length; i++) { %>
      <li class="row list-row">

        <div class="column">

          <input type="checkbox">
        </div>

        <div class="column">
          <%= toDo[i] %>
        </div>

      </li>
      <hr>
      <%} %>
      <form class="" action="/" method="post">
        <input class="list-row-input" type="text" name="addToDo" placeholder="+ add to do">
        <button class="button" type="submit" name="button">+</button>
      </form>
      <!-- </li> -->
    </ul>

  </div>
</body>

</html>
