
body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
}

/* section colors */

.coloredSection {
  background-color: #ff4c68;
}

.whiteSection {
  background-color: white;
}

/* Title section */

#title {
  position: relative;
  z-index: 0;
}

.titleText {
  font-weight: 900;
  font-size: 3rem;
  color: white;
  text-align: left;
}

.iphoneDogImg {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  z-index: 1;
  right:30%;
}

/* On ipad screen size change image pos */
@media (max-width: 1028px) {
  .iphoneDogImg {
    position: static;
    transform: rotate(0);

  }
  .imageCenter {
    text-align: center;
  }

  .titleText {
    text-align: center;
  }
}

.container-fluid {
  padding: 7% 10%;
}

/* Navigation bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {

  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;

}

.nav-item{
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: lighter;
}

/* Download buttons  */
.downloadButton {
  margin: 5% 3% 5% 0;
}

/* description section */
#description {
  position: relative;
  z-index: 2;

}


/* icons */
.descriptionIcon {
  font-size: 5rem;
  color: #ef8172;
  padding-bottom: 1rem;
}

.descriptionIcon:hover{
  color: #ff4c68;
}

.descriptionH3 {
  font-weight: bold;
}

.descriptionText {
  padding: 0 5% 0 5%;
  font-weight: 200;
}

/* testimonial section */
#testimonial {
  background-color: #ef8172;
  color: #fff;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonialH2 {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

.testimonialImg {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  padding-bottom: 3%;
  background-color: #ef8172;
}

.pressImg {
  width: 15%;
  margin: 20px 20px 50;
}

#prices {
  padding: 50px;
}

.buttonCard:hover {
  background-color: white;
  color: #0275d8;
}

.cardPrices {
  margin: 2% 2%;
}

.pricesH2 {
  font-weight: 700;
  font-size: 3rem;
}

.pricesText {
  padding-bottom: 30px
}

/* Call to Action  */

#callToAction {
  padding: 5% 15%;
  color: white;
}

.callToActionH2 {
  font-weight: 700;
  font-size: 3rem;
}

/* footer section */

#footer {
  padding: 5%;
  font-weight: lighter;
}

.footer-icon {
    margin: 3% 1% 3% 1%;
}
