#title {
  background-color: #ff4c68;
  font-family: "Montserrat-900", sans-serif;

}

body {
  font-family: "Montserrat";
}

h1 {
  font-family: "Montserrat-Black";
  font-size: 6rem;
  line-height: 1.5;
}

#titleText {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3rem;
  color: white;
}

.iphoneDogImg {
  width: 60%;
  transform: rotate(25deg);
}

.container-fluid {
  padding: 3% 15%;
}

/* Navigation bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {

  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  padd

}

.nav-item{
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: lighter;
}

/* Download buttons  */
.downloadButton {
  margin: 5% 3% 5% 0;
}

/* description section */

.descriptionBox {

}

/* icons */
.descriptionIcon {
  text-align: center;
  width: 100%;
  font-size: 5rem;
  color: #ef8172;
  padding-bottom: 1rem;
}

.descriptionIcon:hover{
  color: #ff4c68;
}

.descriptionH3 {
  text-align: center;
  font-weight: bold;

}

.descriptionText {
  padding: 0 5% 0 5%;
  text-align: center;
  font-weight: 200;
}

/* testimonial section */
#testimonial {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.carousel-item {

  padding: 7% 15%;
}

.testimonialH2 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

.testimonialImg {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.pressImg {
  width: 15%;
  margin: 20px 20px 50;
}

#prices {
  padding: 50px;
}

.buttonCard:hover {
  background-color: white;
  color: #0275d8;
}

.cardPrices {
  margin: 2% 2%;
}

.pricesH2 {
  font-family: "Montserrat";
  font-weight: 900;
  text-align: center;
  text-size: 3rem;
}

.pricesText {
  text-align: center;
  padding-bottom: 30px
}
